data/anime
data/metadata
data/animes.csv
data/manga
data/ratings.csv
data/patch_manga.jsonl
data/patch_anime.jsonl
data/anilist_manga_complete.jsonl
data/anilist_anime_complete.jsonl
data/cleaned_metadata.csv
data/cleaned_ratings.csv
data/.ipynb_checkpoints
globalenv
recommender_system/.ipynb_checkpoints
.idea
recommender_system/__pycache__/